<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title:  'Update Post'}) %>
  <link rel="stylesheet" href="/styles/forms.css">
</head>

<body>
  <%- include('includes/header') %>
  <main>
    <h1>Update post</h1>
    <form action="/posts/<%= post._id %>/edit" method="POST">
      <div class="form-control">
        <label for="title">Post Title</label>
        <input type="text" id="title" name="title" value="<%= post.title %>">
      </div>
      <div class="form-control">
        <label for="summary">Post Summary</label>
        <input type="text" id="summary" name="summary" value="<%= post.summary %>" maxlength="255">
      </div>
      <div class="form-control">
        <label for="content">Post Body</label>
        <textarea id="content" name="content" required rows="5"><%= post.body %></textarea>
      </div>
      <button class="btn">Update Post</button>
    </form>
  </main>
</body>

</html>